<h2> Hello! The welcome page WOOOHOOOO! Also, please mind your own business. </h2>


<p> 
	<!-- link_to "Mortgage App", mortgage_index_path -->
	<a href="/mortgage">Mortgage App</a>
</p>


<p>
	<!-- link_to "Tax App", tax_index_Path -->
	<a href="/tax">Tax App</a>
</p>
